<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="../../main.css" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../style/Spinner.css" />
  </head>
  <body>
    <section id="loading-screen">
      <div id="loader"></div>
    </section>
    <canvas id="bg"></canvas>
    <script type="module" src="../JS/Planets.js"></script>
  </body>
</html>
